<h1>Tiles</h1>
<div>
    <h2>MS InternationalMetro Gris</h2>
    <img src="http://www.homedepot.com/catalog/productImages/300/0d/0d4e9a8b-895a-4f00-9f69-03080ebea41b_300.jpg">
    <a href="/savetile/<%=params[:id]%>/MS_InternationalMetro_Gris"><button class="btn">Select</button>   </a>
    <h3>User comments: </h3>
    <div class="tile">This is a great product for a clean, smooth, contemporary look  </div>
    <div class="tile">I got this last minute. I paired it with dark cabinets white counters white glass tiles and I choose the pewter for grout I do wish I would have went darker on the grout but I still love this tile my installer said it was super I least tile to lay down.</div>
</div>
<div>
    <h2>MONO SERRAItalia Zen Noir</h2>
    <img src="http://www.homedepot.com/catalog/productImages/300/ea/ea02ae66-2ab8-4150-8b8d-9235fa4a47d1_300.jpg">
    <a href="/savetile/<%=params[:id]%>/MONO_SERRAItalia_Zen_Noir"><button class="btn">Select</button>   </a>
    <h3>User comments: </h3>
    <div class="tile">I was looking for a dark gray tile that had a sort of line type look and I found it here. This is a great quality tile and a great price. My only issue was that it looks like more of an overall gray in the picture but in real life there are lines of brown, blue, gray, white, black, etc. Once you lay them out though, the overall appearance was nice and we're very happy. </div>
    <div class="tile">I This tile appears to be high quality and durable. It has more gray than it appears in the picture, and is almost identical to the Metro Gris tile that HD also carries in-store (for a slightly higher price). The major difference is that this tile has a bit more spacing in between its stripes, so the base blue/gray color shows trough a bit more. The tile is made in Italy and is such a great price when compared to those found at specialty tile stores.</div>
    <div class="tile">Not anywhere near what the pictured showed. I would suggest stores to carry one piece to help customers so they don't have to "special order". Still very happy with how it looks.</div>
</div>
<div>
    <h2>MONO SERRAItalia Zen Gris</h2>
    <img src="http://www.homedepot.com/catalog/productImages/300/5e/5e4ff048-ab60-4bda-9359-7af68e16778c_300.jpg">
    <a href="/savetile/<%=params[:id]%>/MONO_SERRAItalia_Zen_Gris"><button class="btn">Select</button>   </a>
   <h3>User comments: </h3>
    <div class="tile">This is a beautiful tile and I would have kept it if the bathroom we were modeling wasn't so small. It is just too dark for the size of the bathroom. We ended up getting the same tile in crema, I will post a picture of the true color of that tile under review of crema tile  </div>
    <div class="tile">These are nice tiles.. liked the shape and an excellent value. I returned them because they look NOTHING like they did in the website picture. I called first to make sure they were gray... but the are move of a muddy brown color.</div>
    <div class="tile">The color is nothing like the image pictured on website. It is significantly darker, very disappointed. Looks more like Zen Noir color.</div>

    </div>
<div>
    <h2>MS InternationalBeton Concrete</h2>
    <img src="http://www.homedepot.com/catalog/productImages/300/d6/d651db07-92db-4bf8-8339-ff8578a7d64e_300.jpg">
    <a href="/savetile/<%=params[:id]%>/MS_InternationalBeton_Concrete"><button class="btn">Select</button>   </a>
    <h3>User comments: </h3>
    <div class="tile">Ordered this tile after receiving shattered slate. This is beautiful for a much lower price. This is a solid heavy tile. My installer was impressed with the quality for such a great price. Looks great in my bathroom with a dark grey grout</div>
    <div class="tile">The product itself is pretty amazing for the very low price. Looks fantastic, has a great color (much lighter than the image online as I see it on my screen though) and it looks really beautiful installed. Product was shipped 4 to a box, each box about 40lbs. About 20% of the tiles I received were chipped. Delivery cost on the entire order of 480 lbs came out to $18. Can't beat that, I even if a lot of the tiles come in chipped.</div>
    <div class="tile">I wish this tile hadn't clashed with a previously-purchased vanity top, because the color was great. Although we didn't use it, I would still recommend it.</div>
    <div class="tile">It cost a little over $200 in tile to do my entire loft kitchen and it looks like it was much much more expensive. Great tiles. Fast shipping too. Not one was broken either. Love them!</div>

</div>
<div>
    <h2>DaltileFolkstone Slate Sandy Beach</h2>
    <img src="http://www.homedepot.com/catalog/productImages/300/20/203bb80c-0e60-456f-8921-98d32943ff12_300.jpg">
    <a href="/savetile/<%=params[:id]%>/DaltileFolkstone_Slate_Sandy_Beach"><button class="btn">Select</button>   </a>
    <h3>User comments:</h3>
    <div class="tile">At this price, this was on of the best tiles I've installed. The only negative is that it chips easily compared with other higher price porcelain tiles.I used a combination of the 18by 18 and 12 by 12 looks very nice. </div>
    <div class="tile">Very expensive looking porcelain tile. Looks beautiful. Small variation in sizes. Had to use 3/16 spacing instead of 1/8"</div>

   </div>