<h1>Bathtubs</h1>
<div>
    <h2>Mariposa</h2>
              <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa25693_169.jpg">
      <a href="/savetub/<%=params[:id]%>/Mariposa"><button class="btn">Select</button>   </a>
</div>
<div>
    <h2>Riverbath</h2>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa01042_169.jpg">
    <a href="/savetub/<%=params[:id]%>/Riverbath"><button class="btn">Select</button>   </a>
</div>
<div>
    <h2>Consonance</h2>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa23731_169.jpg">
    <a href="/savetub/<%=params[:id]%>/Consonance"><button class="btn">Select</button>   </a>
</div>
<div>
    <h2>Memoirs</h2>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/zaa49820_169.jpg">
    <a href="/savetub/<%=params[:id]%>/Memoirs"><button class="btn">Select</button>   </a>
</div>
<div>
    <h2>Sunward</h2>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa84740_169.jpg">
    <a href="/savetub/<%=params[:id]%>/Sunward"><button class="btn">Select</button>   </a>
</div>