<h1>Bathtubs</h1>
<div class="tub tile">
    <h2>Mariposa</h2>
    <a href="/savetub/<%=params[:id]%>/Mariposa"><button class="btn">Select</button>   </a>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa25693_169.jpg">
    <div class="description">
        Non-porous surface for easy cleaning and sanitizing
        Center front drain placement and left pump placement; 40 gallon water capacity
        Interior of tub is oval shape and features a molded-in seat; tub is pre-leveled for easy installation
    </div>
    

</div>
<div class="tub tile">
    <h2>Riverbath</h2>    
    <a href="/savetub/<%=params[:id]%>/Riverbath"><button class="btn">Select</button>   </a>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa01042_169.jpg">
    <div class="description">
        Is your interest piqued? This whirlpool tub is built for two with contoured seats, cushions and nine strong massage jets that will take you to the peak of comfort. It also has a built-in microcomputer, an LCD control panel, a handheld shower, and a unique peekaboo window made of fiberglass reinforced acrylic.
    </div>
</div>
<div class="tub tile">
    <h2>Consonance</h2>
    <a href="/savetub/<%=params[:id]%>/Consonance"><button class="btn">Select</button>   </a>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa23731_169.jpg">
    <div class="description">
        Safe for bathing salts and aromatic oils; pre-leveled for easy installation
        Center right drain placement and left pump placement; 40 gallon water capacity
        Exterior of tub is rectangular shape with ovular interior shape that blends with outer edges; tub is pre-leveled for easy installation
        luxury bathtub; massage bathtub; therapeutic bathtub; bathtub; spa
    </div>
</div>
<div class="tub tile">
    <h2>Memoirs</h2>
    <a href="/savetub/<%=params[:id]%>/Memoirs"><button class="btn">Select</button>   </a>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/zaa49820_169.jpg">
    <div class="description">
        Non-porous surface for easy cleaning and sanitizing
        Center front drain placement and left pump placement; 40 gallon water capacity
        Interior of tub is oval shape and features a molded-in seat; tub is pre-leveled for easy installation
    </div>
</div>
<div class="tub tile">
    <h2>Sunward</h2>
    <a href="/savetub/<%=params[:id]%>/Sunward"><button class="btn">Select</button>   </a>
    <img src="http://www.us.kohler.com/webassets/kpna/catalog/image/492x276/aaa84740_169.jpg">
    <div class="description">
        The Infinity-Z sliding tub door delivers a classic design with a fresh attitude. Features of convenience like a handy towel bar and fast release wheels that make cleaning the glass and track a cinch are combined with the modern appeal of a frameless glass design. Choose the simply sophisticated style of the Infinity-Z sliding tub door.
    </div>
</div>