<h1>Messages</h1>
<div class="messages">
	<% for message in @messages do %>
	<div class="msg-title">
		<a href="/user/message/show/<%= message.id %>"><%= message.title %></a>
	</div>
	<div class="msg-message">
		<%= message.message %>
		<div class="sender">From: Bjarne Rövskägg</div>
	</div>
	<% end %>
</div>

<div class="current-msg">
	<div class="curr-msg-title">
		<%= @message.title %>
	</div>
	<div class="curr-msg-message">
		<p><%= @message.message %></p>
		<div class="sender">From: Bjarne Rövskägg</div>
	</div>	
</div>