<h1><%= @object.name %></h1>
<div class="description">
	<%= @object.description %>
</div>
<div class="object_type">
	<%= @object.room_type %>
</div>

<a href="<%=@object.id%>/edit"><button class="btn">Customize</button></a>
<a href="<%=@object.id%>/finalize"><button class="btn">Finialize Order</button></a>